@model List<NewsModel>
@{
    ViewData["Title"] = "Home Page";
}
<div class="card-subtitle text-center mb-3">
    <h1 class="display-4 ">Blog Do Dautin</h1>
    <h5 class="fw-bold">Últimas Notícias</h5>

</div>
@if(Model != null)
{
    @foreach(var news in Model)
    {
        

        <div class="card mb-3">
            <h5 class="card-header">@news.Author</h5>
            <div class="card-body">
                <p><h4>@news.Title</h4></p>
                <p class="card-text">@news.Description</p>
                <a asp-controller="ShowPost" asp-action="Index" class="btn btn-primary">Confira Já!</a>
            </div>
        </div>
    }
    

}






