@inject IHttpContextAccessor context
@model NewsModel
@{
    var session = context.HttpContext.Session.GetInt32("id_user");
}

<div class="container bg-light">
    <form asp-controller="News" asp-action="CreateNewPost" method="post">
        <div class="row">
            <div class="col text-center">
                <h2 class="display-6">Criação de nova notícia</h2>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <input class="form-control" placeholder="Titulo" asp-for="Title"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <textarea class="form-control" placeholder="Descrição" asp-for="Description" cols="10" rows="5"> </textarea>
            </div>
        </div>
        <input type="hidden" value=@session asp-for="UserId"/> <br/>
        <div class="text-center">
            <button type="submit" class="btn btn-success">Enviar</button>
        </div>
    </form>

    @if(TempData["success"] != null){
        <div class="container">
            <div class="alert alert-success">
                <p>@TempData["success"]</p>
            </div>
        </div>
        
    }
</div>