@inject IHttpContextAccessor context
@model NewsModel
@{
    var session = context.HttpContext.Session.GetString("id_user");
}

<div class="container bg-light">
    <form asp-controller="News" asp-action="CreateNewPost" method="post">
        <div class="row">
            <div class="col text-center">
                <h2 class="display-6">Criação de nova notícia</h2>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <input class="form-control" placeholder="Titulo" asp-for="Title"/>
            </div>
            <input asp-for="Author" value="teste" />
        </div>
        <div class="row">
            <div class="col">
                <textarea class="form-control" placeholder="Descrição" asp-for="Description"> </textarea>
            </div>
        </div>
        <input type="hidden" value=@session asp-for="UserId"/>
        <button type="submit" class="btn btn-success">Enviar</button>

    </form>

    @if(TempData["success"] != null){
        <p>@TempData["success"]</p>
    }
</div>